{% macro show_input(field, class='', default='') %}
    <p {% if class %}class="{{ class }}"{% endif %}>
        <label for="{{ form[field].id }}">{{ form[field].label }}</label>
        {% if default %}
            {{ form[field](value=default) }}
        {% elif kwargs %}
            {{ form[field](**kwargs) }}
        {% else %}
            {{ form[field]() }}
        {% endif %}
        {% for error in form[field].errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
{% endmacro %}

<html>

<head>
    {#    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>#}
    {#    <script>#}
    {#        var OneSignal = window.OneSignal || [];#}
    {#        OneSignal.push(["init", {#}
    {#            appId: "489e39eb-7168-467c-a5c9-0dd6b05cd5f0",#}
    {#            autoRegister: true,#}
    {#            /* Set to true to automatically prompt visitors */#}
    {#            notifyButton: {#}
    {#                enable: true /* Set to false to hide */#}
    {#            },#}
    {#            welcomeNotification: {#}
    {#                "title": "My Custom Title",#}
    {#                "message": "Thanks for subscribing!",#}
    {#                // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */#}
    {#            },#}
    {#            notifyButton: {#}
    {#                enable: true,#}
    {#                /* Required to use the Subscription Bell */#}
    {#                size: 'medium',#}
    {#                /* One of 'small', 'medium', or 'large' */#}
    {#                theme: 'default',#}
    {#                /* One of 'default' (red-white) or 'inverse" (white-red) */#}
    {#                position: 'bottom-left',#}
    {#                /* Either 'bottom-left' or 'bottom-right' */#}
    {#                offset: {#}
    {#                    bottom: '15px',#}
    {#                    left: '15px',#}
    {#                    /* Only applied if bottom-left */#}
    {#                    right: '15px' /* Only applied if bottom-right */#}
    {#                },#}
    {#                prenotify: true,#}
    {#                /* Show an icon with 1 unread message for first-time site visitors */#}
    {#                showCredit: false,#}
    {#                /* Hide the OneSignal logo */#}
    {#                text: {#}
    {#                    'tip.state.unsubscribed': 'Subscribe to notifications',#}
    {#                    'tip.state.subscribed': "You're subscribed to notifications",#}
    {#                    'tip.state.blocked': "You've blocked notifications",#}
    {#                    'message.prenotify': 'Click to subscribe to notifications',#}
    {#                    'message.action.subscribed': "Thanks for subscribing!",#}
    {#                    'message.action.resubscribed': "You're subscribed to notifications",#}
    {#                    'message.action.unsubscribed': "You won't receive notifications again",#}
    {#                    'dialog.main.title': 'Manage Site Notifications',#}
    {#                    'dialog.main.button.subscribe': 'SUBSCRIBE',#}
    {#                    'dialog.main.button.unsubscribe': 'UNSUBSCRIBE',#}
    {#                    'dialog.blocked.title': 'Unblock Notifications',#}
    {#                    'dialog.blocked.message': "Follow these instructions to allow notifications:"#}
    {#                }#}
    {#            }#}
    {#        }]);#}
    {#    </script>#}

    {#set faviocn#}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='img/logo/favicon.png') }}"/>
    {#set faviocn#}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> {% block extra_css %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            socket.emit('join_personal_room')

            socket.on('user registered', function (data) {
                document.write(data)
            })
        });


        $(document).ready(function () {
            $('#request_to_seller').submit(function () {
                socket.emit('new_request', message = {
                    owner: 'mohammad'
                });
            });
        });
        socket.on('append_request', function () {
            $('.notification').hide().append("<h1 class='notification-element'>new request arrived !!!!</h1>").fadeIn(
                1000);
            $('.notification-element').delay(1000).fadeTo(1000, 0);
        })
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/notification/notification.js') }}"></script>
    {% block extra_script %} {% endblock %} {% block extra_socket %} {% endblock %}
    <title>
        {% block title %} Welcome To CryptoBroker {% endblock %}
    </title>

    {#crisp chat#}
    <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "b552ab4c-ab99-4e1a-bf41-3c03cfa3fbe1";
        (function () {
            d = document;
            s = d.createElement("script");
            s.src = "https://client.crisp.chat/l.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>
    {#!crisp chat#}
</head>

<body>
<div class="notification">
    {% include 'notification.html' %}
</div>
<div> CryptoBroker:
    <a href="{{ url_for('home.index') }}">Home</a>
    {% if current_user.role == 'ADMIN' %} |
        <a href="{{ url_for('admin.admin') }}">Admin Dashboard</a>
    {% endif %} {% if current_user.is_authenticated %} |
        <a href="{{ url_for('authentication.logout') }}">Logout</a>
        |
        <a href="{{ url_for('authorization.authorize') }}">Authorization</a>
        |
        <a href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a>
        |
        <a href="{{ url_for('support.add_ticket') }}">Add Ticket</a>
        |
        <a href="{{ url_for('request.received') }}">View Recevied Requests</a>
        |
        <a href="{{ url_for('advertisement.create_ad') }}">Add Advertisement</a>
    {% else %} |
        <a href="{{ url_for('authentication.register') }}">Register</a>
        |
        <a href="{{ url_for('authentication.login') }}">Login</a>
    {% endif %}
</div>
<hr> {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} {% endwith %} {% block content %} {% endblock %}
</body>

</html>