{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('admin.check_out_payments') }}">Update Withdraw List</a>
    <h2>Commission Payments:</h2>
    {% for payment in payments %}
        <p>Id: {{ payment.id }}</p>
        <p>Type: {{ payment.type }}</p>
        <p>Amount: {{ payment.total_price }}</p>
        <p>Status: {{ payment.status }}</p>
    {% endfor %}
{% endblock %}