{% extends 'base.html' %}

{% block content %}
    {% for payment in payment %}
        <p>Id: {{ payment.id }}</p>
        <p>Status: {{ payment.status }}</p>
        <p>Type: {{ payment.type }}</p>
        <p>User: {{ payment.user }}</p>
        <p>Request: <a href="{{ url_for('request.detail', request_id=payment.request.id) }}">Go to</a></p>
        <p>Total Price: {{ payment.total_price }}</p>
        <p>Pay Res Code: {{ payment.gateway_data.pay_res_code }}</p>
        <p>Verify Res Code: {{ payment.gateway_data.verify_res_code }}</p>
        {% if payment.gateway_data.inquiry_res_code %}
            <p>Inquiry Res Code: {{ payment.gateway_data.inquiry_res_code }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}