{% extends 'dashboard-base.html' %}
{% block content %}
{{ super() }}
    <form action="{{ url_for('admin.reject_authorization_request', username=user.username) }}" method="POST" name="authorization-error">
        {{ form.hidden_tag() }}
        <input type="hidden" name="username" value="{{ user.username }}">
        <p>First Name: {{ user.fname }} <br>
        <label for="{{ form.fname_error.id }}">{{ form.fname_error.label }}</label>
            {{ form.fname_error() }}<br>
        <label for="{{ form.fname_desc.id }}">{{ form.fname_desc.label }}</label>
            {{ form.fname_desc() }}
        </p>

        <p>Last Name: {{ user.lname }}<br>
        <label for="{{ form.lname_error.id }}">{{ form.lname_error.label }}</label>
            {{ form.lname_error() }}<br>
        <label for="{{ form.lname_desc.id }}">{{ form.lname_desc.label }}</label>
            {{ form.lname_desc() }}
        </p>

        <p>Melli Code: {{ user.melli_code }}<br>
        <label for="{{ form.melli_code_error.id }}">{{ form.melli_code_error.label }}</label>
            {{ form.melli_code_error() }}<br>
        <label for="{{ form.melli_code_desc.id }}">{{ form.melli_code_desc.label }}</label>
            {{ form.melli_code_desc() }}
        </p>

        <p>Phone Number: {{ user.phonenumber }}</p>

        <p>Email: {{ user.email }}</p>
        <p>Wallets:
        {% for wallet in user.wallets %}
            <p>{{ wallet }}</p>
        {% endfor %}<br>
        <label for="{{ form.wallet_error.id }}">{{ form.wallet_error.label }}</label>
            {{ form.wallet_error() }}<br>
        <label for="{{ form.wallet_desc.id }}">{{ form.wallet_desc.label }}</label>
            {{ form.wallet_desc() }}
        </p>
        <p>Credit Cards:
        {% for cc in user.credit_cards %}
            {{ cc }}
        {% endfor %}<br>
        <label for="{{ form.credit_card_error.id }}">{{ form.credit_card_error.label }}</label>
            {{ form.fname_error() }}<br>
        <label for="{{ form.credit_card_desc.id }}">{{ form.credit_card_desc.label }}</label>
            {{ form.credit_card_desc() }}
        </p>
        <p>Authorization Photo: <img src="{{ url_for('static', filename='/'.join(['user_data', 'authorization_photos', user.authorization_photo])) }}" alt=""><br>
        <label for="{{ form.authorization_photo_error.id }}">{{ form.authorization_photo_error.label }}</label>
            {{ form.authorization_photo_error() }}<br>
        <label for="{{ form.authorization_photo_desc.id }}">{{ form.authorization_photo_desc.label }}</label>
            {{ form.authorization_photo_desc() }}
        </p>
        <a style="-moz-appearance: button; -webkit-appearance: button; text-decoration: none; color: black;" href="{{ url_for('admin.accept_authorization_request', username=user.username) }}">Accept</a>
        <input type="submit" value="Reject">
    </form>
{% endblock %}