{% extends 'dashboard-base.html' %}
{% block content %}
{{ super() }}
    <table>
    {% for req in requests %}
        <tr>
        <td>{{ req.phonenumber }}</td>
        <td>{{ req.fname }}</td>
        <td>{{ req.lname }}</td>
        <td><a href="{{ url_for('admin.get_authorization_request', username=req.username) }}">View</a>|</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}