{% extends 'base.html' %}
{% block title %}
    {{ current_user.email }}درخواست به
{% endblock %}
{#{% block extra_socket %}#}
{#    <script type="text/javascript">#}
{#       #}
{##}
{#    </script>#}
{#{% endblock %}#}
{% block content %}
    <form method="post" action="{{ url_for('request.create', ad_id=ad['id']) }}"
          id="request_to_seller">
        {{ form.hidden_tag() }}
        <p>چقدر میخوای بخری؟</p>
        <p>حداقل: {{ ad.min_amount }}</p>
        <p>حداکثر:‌ {{ ad.max_amount }}</p>
        {{ show_input('amount', '', ad.min_amount) }}
        {{ show_input('wallet') }}
        {{ show_input('submit') }}
    </form>


{% endblock %}