{% extends 'base.html' %}
{% block title %}
    Detail
{% endblock %}
{% block content %}
    <br>
    <hr>
    <h4>Coin:
        {{ ad.id }} <br>
        {{ ad.coin }}
    </h4>
    <p>Min Amount:
        {{ ad.min_amount }}
    </p>
    <p>Max Amount:
        {{ ad.max_amount }}
    </p>
    <hr>

{% endblock %}