{% extends 'base.html' %}
{% block title %}
Advertisement
{% endblock %}

{% block content %}
    {% for i in all_list %}
        <h2>{{ i['coin'] }}</h2>
        <p> min_amount :{{ i['min_amount'] }}</p>
        <p> max_amount :{{ i['max_amount'] }}</p>
        <p> status :{{ i['status'] }}</p>
        {% if username == None or current_user.username == username or current_user.role == 'ADMIN' %}
            <p>
                <button onclick="window.location.href='{{ url_for("advertisement.detail", ad_id=i["id"]) }}'">
                    Detail
                </button>
            </p>
            <p>
                <button onclick="window.location.href='{{ url_for("advertisement.archive_ad", ad_id=i["id"]) }}'">
                    Archive
                </button>
            </p>

        {% else %}
            <p>
                <button onclick="window.location.href='{{ url_for("request.create", ad_id=i["id"]) }}'">Send Request
                </button>
            </p>
        {% endif %}
        <hr>
    {% endfor %}
    <br>
    <br>
    <p>
        <button onclick="window.location.href='{{ url_for("advertisement.create_ad", username=username) }}'">Create New Advertisement
        </button>
    </p>
{% endblock %}