<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item['coin'] }}</title>
</head>
<body>
<form method="post" action="{{ url_for('item.update_an_item', item_id=item['id']) }}">
    <input type="hidden" name="username" value="{{ username }}">
    <p>{{ form.coin.label.text }}</p>
    {{ form.coin }}
    <hr>

    {{ form.date }}
    <p>{{ form.amount.label.text }}</p>
    {{ form.amount }}
    <hr>
    {{ form.price_model.text }}
    {{ form.price_model }}
    <hr>
    {{ form.dollar_price.label.text }}
    {{ form.dollar_price }}
    <hr>
    {{ form.per_unit_price.label.text }}
    {{ form.per_unit_price }}
    <hr>

    <p>{{ form.wallet.label.text }}</p>
    {{ form.wallet }}

    <hr>
    <p>{{ form.higgle.label.text }}</p>
    {{ form.higgle }}
    <hr>
    <p>{{ form.private.label.text }}</p>
    {{ form.private }}
    <hr>

    <input type="submit" value="ارسال">
</form>
</body>
</html>