.receiver {
    position: absolute;
    right: 0px;
}

input#conflict {
    background: #D91E18;
    width: 120px;
    height: 50px;
    color: white;
    font-family: inherit;
    font-size: 17px;
    border: none;
}


.notification {
    position: absolute;
    width: 35px;
    top: 3px;
    right: 73px;
}


.notification_count {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding: 7px;
    background: #F03434;
    color: #fff;
    text-align: center;
    font: 16px Arial, sans-serif;
    position: absolute;
    top: -1px;
    right: 21px;
}

.notification-list {
    width: 259px;
    /*border: 1px solid red;*/
    position: relative;
    right: 156px;
    background: #80808054;
}

.li-notification>a.notification-link>li {
    list-style-type: none;
    text-align: right;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    /* margin-bottom: 10px; */
    padding-top: 10px;
    padding-right: 6px;
    direction: rtl;

}

.li-notification.INFO {
    background: #00B16A;
    color: white;
}

.notification-list.toggle {
    display: block;
}

.notification-list {
    display: none;
}