{% extends  'base.html' %}
{% block content %}
    {% for request in received_requests %}
        <h3>Amount: {{ request.amount }} </h3>
        <h3>Date: {{ request.date }}</h3>
        <h3>Ad Id: {{ request.ad_id }}</h3>
        <h3>Buyer Wallet: {{ request.buyer_wallet }}</h3>
        <h3>Status: {{ request.status }}</h3>
        {% if request.transaction %}
            <p>Tx Id: {{ request.transaction.id }}</p>
            <p>Date: {{ request.transaction.date }}</p>
            <p>Total Price: {{ request.transaction.total_price }}</p>
        {% endif %}

        <button onclick="window.location.href='{{ url_for('request.detail', request_id=request['id']) }}' ">Detail
        </button>
        <hr>
    {% endfor %}

{% endblock %}