
div.calculate {
    /* position: absolute; */
    /* width: 40%; */
    /* height: 70%; */
    /* top: 37px; */
    /* right: 94px; */
    text-align: center;
    vertical-align: middle;
    margin-left: 40%;
    margin-top: -10%;
}

p.calculated_number {
    font-size: 70px;
    /* position: absolute; */
    /* left: 36%; */
    /* top: 33%; */
    /* text-align: center; */
}