{% extends 'base.html' %}
{% block content %}
    <h1>View Ticket</h1>
    <form action="{{ url_for('support.view_ticket', id=id) }}" method="POST" enctype="multipart/form-data"
          name="view-ticket">
        {{ form.hidden_tag() }}
        <p>
            Title {{ ticket.title }} <br>
            Related Section: {{ ticket.type }} <br>
            Date Created: {{ datetime }} <br>
            Related Product: {{ ticket.related_product }} <br>
        </p>
        {% for message in ticket.messages %}
            <p>
                Sender: {{ message.sender }} <br>
                Text: {{ message.text }} <br>
                {% if message.media %}
                    Media:
                    {% if message.media_type == 'IMAGE' %}
                        <img width="320" height="240"
                             src="{{ url_for('static', filename='/'.join(['user_data', 'ticket_media', message.media])) }}"
                             alt="">
                    {% elif message.media_type == 'VIDEO' %}
                        <video width="320" height="240" controls>
                            <source src="{{ url_for('static', filename='/'.join(['user_data', 'ticket_media', message.media])) }}"
                                    type="video/{{ message.media.split('.')[1] }}">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                {% endif %}
            </p>
            <hr>
        {% endfor %}
        {% if ticket.status != 'CLOSED' or current_user.role == 'ADMIN' %}
            <h3>Answer to message:</h3>
            {{ show_input('message_text') }}
            {{ show_input('message_media') }}
            <input type="submit" value="Send">
        {% else %}
            Ticket is closed. you cant post answer.
        {% endif %}
        <a href="http://localhost:8080{{ url_for('support.close_ticket', id=ticket.id) }}">Close</a>
    </form>
{% endblock %}