{% extends 'base.html' %}
{% block content %}
    <h1>Home</h1>
    <h2>Welcome, {{ current_user.username }}</h2>
    <img width="100px" height="100px" src="{{ url_for('static', filename='/'.join(['user_data', 'avatars', current_user.username]) + '.png') }}" alt="">
{% endblock %}