{% extends 'base.html' %}
{% block content %}
    <h1>Change Email</h1>
        <form action="{{ url_for('user.change_email', username=user.username) }}" method="POST"
              name="change-verification">
            {{ form.hidden_tag() }}
            <p>Current Email: {{ user.email }}</p>
            If you want to change your email please enter your new email:
            {{ show_input('email') }}
            <input type="submit" value="Send">
        </form>
{% endblock %}