{% macro show_authorization_error(field_name) %}
    {% if (current_user.username == username or current_user.role == 'ADMIN') %}
        {% for error in user.authorization_errors %}
            {% if error['for_field'] == field_name %}
                {% if error['desc'] != '' %}
                    {{ error['desc'] }}
                {% else %}
                    Your {{ field_name }} have a problem, visit authorization page to correct it.
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% extends 'base.html' %}
{% block content %}
    {% if current_user.profile_photo %}
        <p>Photo: <img width="100px" height="100px"
                       src="{{ url_for('static', filename='/'.join(['user_data', 'profile_photos', current_user.profile_photo])) }}"
                       alt=""></p>
    {% else %}
        <p>Avatar: <img width="100px" height="100px"
                        src="{{ url_for('static', filename='/'.join(['user_data', 'avatars', current_user.username]) + '.png') }}"
                        alt=""></p>
    {% endif %}
    <p>First Name: {{ user.fname }}</p>
    {{ show_authorization_error('fname') }}
    <p>Last Name: {{ user.lname }}</p>
    {{ show_authorization_error('lname') }}
    {% if current_user.username == username or current_user.role == 'ADMIN' %}
        <p>Melli Code: {{ user.melli_code }}</p>
        {{ show_authorization_error('melli_code') }}
        <p>Phone Number: {{ user.phonenumber }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Wallets:
        <table border="1">
            {% for wallet in user.wallets %}
                <tr>
                    <td>Name: {{ wallet.name }}</td>
                    <td>Coin: {{ wallet.coin }}</td>
                    <td>Address: {{ wallet.address }}</td>
                    <td><a href="{{ url_for('user.edit_wallet', id=wallet.id) }}">Edit</a></td>
                    <td><a href="{{ url_for('user.remove_wallet', id=wallet.id) }}">Remove</a></td>
                </tr>
            {% endfor %}
        </table>
        {{ show_authorization_error('wallets') }}
        <p><a href="{{ url_for('user.add_wallet') }}">Add Wallet</a></p>
        </p>
        <p>Credit Cards:
            {% for cc in user.credit_cards %}
                {{ cc }}
            {% endfor %}
        </p>
        {{ show_authorization_error('credit_cards') }}
        <p>Is Authorized:
            {% if user.authorization_status == 'AUTHORIZED' %}
                Authorized
            {% elif user.authorization_status == 'NOT_AUTHORIZED' %}
                Not Authorized, Please visit authorization page.
            {% elif user.authorization_status == 'REJECTED' %}
                Authorization Rejected, Please visit authorization page to change your authorization info.
            {% else %}
                Pending Authorization, Please wait for our colleagues to accept your authorization.
            {% endif %}
        </p>
        <p>
            {% if user.email_status == 'PENDING' %}
                Email is not verified, please verify:
                <a href="{{ url_for('authentication.resend_verification_email', username=user.username) }}">Resend
                    Verification Email</a>
            {% endif %}
        </p>
        <p>
            Change Email: <a href="{{ url_for('user.change_email', username=user.username) }}">Here</a>
        </p>
        <p>
            Change Password: <a href="{{ url_for('user.change_password', username=user.username) }}">Here</a>
        </p>
        <p>
            Change Avatar: <a href="{{ url_for('user.change_profile_photo') }}">Here</a>
        </p>
        <p>
            commision discount: {{ user.commision_discount }}
        </p>
        {% if current_user.role == 'ADMIN' %}
            <p>
                change commision discount <a href="{{ url_for('user.change_commission_discount', username=username) }}">here</a>
            </p>
        {% endif %}
    {% elif user.authorization_status == 'AUTHORIZED' %}
        Autorized: AUTHORIZED
    {% else %}
        Autorized: NOT AUTHORIZED
    {% endif %}
{% endblock %}