{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/request/feedback.css') }}">
{% endblock %}
{% block extra_script %}


    <script type="text/javascript" src="{{ url_for('static', filename='js/request/feedback.js') }}"></script>
{% endblock %}

{% block content %}
    <form method="post">

        {{ feedback.csrf_token }}
        <p>submit your feed back for this transaction done before .</p>
        {{ feedback.feedback(min=1, max=5) }}
        <p id='feedback_value'></p>
        {{ feedback.feedback_submit() }}

    </form>
{% endblock %}