{% extends 'base.html' %}
{% block content %}
    <h1>Register</h1>
    <form action="{{ url_for('authentication.register') }}" method="POST" name="register">
        {{ form.hidden_tag() }}
        <p>
            Please Enter Your Data:
            <br>
            <br>
            <label for="{{ form.username.id }}">{{ form.username.label }}</label>
            {{ form.username(size=50, pattern='^[a-zA-Z0-9_]{3,50}$', title='Only alphanumeric and underscore. At least 3 character and at most 50 characters.') }}
            {% for error in form.username.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>
            <label for="{{ form.phonenumber.id }}">{{ form.phonenumber.label }}</label>
            {{ form.phonenumber(size=40, pattern='^(\+989|09)\d{9,}$', title='Phone number must be in one of following formats: +989xxxxxxxxx, 09xxxxxxxxx') }}
            {% for error in form.phonenumber.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.email.id }}">{{ form.email.label }}</label>
            {{ form.email(size=40) }}
            {% for error in form.email.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {#        #TODO add number to pattern too #}
            {{ form.password(size=40, pattern='^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,256}$', title='At least 8 characters, one letter and one number. Maximum length 256 characters.') }}
            {% for error in form.password.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>
            <label for="{{ form.repeat_password.id }}">{{ form.repeat_password.label }}</label>
            {{ form.repeat_password(size=40) }}
            {% for error in form.repeat_password.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>

            <label for="{{ form.accpet_terms.id }}">{{ form.accpet_terms.label }}</label>
            {{ form.accpet_terms }}
            {% for error in form.accpet_terms.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %} <br>
        <p>
            {% for error in form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
            {{ form.recaptcha }}
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
        </p>
    </form>
{% endblock %}