{% extends 'base.html' %}
{% block content %}
    <h1>Reset Password</h1>
    <form action="{{ url_for('authentication.reset_password', method=method) }}" method="POST"
          name="reset-password">
        {{ form.hidden_tag() }}
        {% if method == 'EMAIL' %}
            {{ show_input('email') }}
            <p>
                {% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
                {{ form.recaptcha }}
            </p>
            <input type="submit" value="Send">
        {% elif method == 'PHONENUMBER' %}
            {{ show_input('phonenumber') }}
            <p>
                {% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
                {{ form.recaptcha }}
            </p>
            <input type="submit" value="Send">
        {% endif %}
    </form>
{% endblock %}